{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Title Column (Full Width) -->
        <div class="col-12">
            <h2 class="text-center" id ="consHeader">{{ data.name }}</h2>
        </div>
    </div>
    <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
            <img src="{{ data.image }}" alt="{{ data.name }} Image" class="img-fluid">
        </div>
        
        <!-- Text Column -->
        <div class="col-md-6" id="info-container">
            <div class="falling-star" style="left: 10%; animation-delay: 0s;"></div>
            <div class="falling-star" style="left: 40%; animation-delay: 1s;"></div>
            <div class="falling-star" style="left: 70%; animation-delay: 2s;"></div>
            <div class="info-block" id="facts-block">
                <!-- Quick Facts Always Visible -->
                <p class = "header-color">Quick Facts</p>
                <div>
                    <ul>
                        {% for fact in data.facts %}
                        <li class="twinkle-bullet">{{ fact }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="info-block" id="tips-block">
                <!-- How to Find It Always Visible -->
                <p class = "header-color">How to Find It</p>
                <div class="finding-tips">
                    {{ data.finding_tips }}
                </div>
            </div>

            <div class="info-block" id="myth-block">
                <!-- The Story Behind Dropdown -->
                <p>
                    <button class="btn story-button toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#myth" aria-expanded="false" aria-controls="myth">
                        The Story Behind
                    </button>
                </p>
                <div class="collapse" id="myth">
                    <div class="myth-content">
                        {{ data.myth }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <!-- Navigation arrows -->
        <div class="triangle-left" onclick="window.location.href='/learning/{{ data.prev_id }}';"></div>
        <div class="triangle-right" onclick="window.location.href='/learning/{{ data.next_id }}';"></div>
    </div>
</div>
{% endblock %}
