{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='quiz.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid pt-4"> 
    <div class="row mb-3">
        <div class="col-12">Results: {{incorrect}} questions incorrect.</div>
    </div>
    <div class="row">
        {% for response in responses %}
            {% if response == correct[loop.index0] %}
                <div class="col-12">
                    Question {{loop.index}} right
                </div>
            {% else %}
                <div class="col-12">
                    Question {{loop.index}} wrong
                </div>
            {% endif %}
        {% endfor %}  
    </div>
</div>
{% endblock %}

