{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    question = JSON.parse('{{ question|tojson|safe }}')
    // num_questions = JSON.parse('{{ num_questions|tojson|safe }}')
</script>

<div class="container-fluid p-4 quiz-main-cont"> 
    
    <div class="row mb-3 question-card">
        <div class="col-12 mb-1 question-num-text">
            Question {{question.id + 1}} of {{num_questions}}
        </div>
        {% if question.image_url | length != 0 %}
            <div class="col-12 p-0">
                <img class="question-img" alt="{{question.image_alt}}" src={{question.image_url}}>
            </div>
        {% else %}
            
        {% endif %}
        <div class="col-12 question-text">
            {{question.question}}
        </div>
    </div>
    <div class="row mb-1 question-choices-cont">
        {% for choice in question.choices %}
            <div class="question-choice unselected-choice hoverable" data-id="{{loop.index - 1}}">{{choice}}</div>
        {% endfor %}      
    </div>

    <div class="row question-alert-cont">
        
    </div>

    <div class="row check-btn-cont">
        <div class="col-12 check-btn">Check Answer</div>
    </div>

    <div class="row next-btn-cont">
        <div class="col-12 next-btn">Next Question</div>
    </div>
</div>
{% endblock %}

