{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='quiz.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid pt-4"> 
    <div class="row mb-3">
        <div class="col-12 welcome-message"> 
            <h2>Your Results</h2>
            <h1><b> {{ score }} / {{ responses | length }} </b></h1>
            <h4>Well done!</h4>
        </div>
    </div>
    <div class="row welcome-message">
        {% for response in responses %}
            {% if response[1] %}
                <div class="col-12">
                    Question {{loop.index}}: Correct! :)
                </div>
            {% else %}
                <div class="col-12">
                    Question {{loop.index}}: Incorrect :(
                </div>
            {% endif %}
        {% endfor %}  
    </div>
</div>
{% endblock %}

