{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    question = JSON.parse('{{ question|tojson|safe }}')
</script>

<div class="container-fluid p-4 quiz-main-cont"> 
    <div class="row mb-3">
        {% if question.image_url | length != 0 %}
            <div class="col-12">
                <img class="question-img" alt="{{question.image_alt}}" src={{question.image_url}}>
            </div>
        {% else %}
            
        {% endif %}
        <div class="col-12 question-text">
            {{question.question}}
        </div>
    </div>
    <div class="row">
        {% for choice in question.choices %}
            <div class="col-5 feature-box unselected-option" data-id="{{loop.index - 1}}">{{choice}}</div>
        {% endfor %}      
    </div>

    <div class="row">
        <div class="col-12 next-btn">Next question</div>
    </div>
</div>
{% endblock %}

