/*dark purple nav bar background color*/
.bck-color {
    background-color: #32094f; 
}

/* Larger font size for the brand */
.navbar-brand {
    font-family: 'Stardos Stencil';
    font-size: 60px; 
    color: white; /* White text color */
    padding-top: 30px;
    padding-bottom: 30px;
}

/* White text color for all nav links */
.nav-link {
    color: white !important; 
}

/* Larger font size for specific nav link */
.bigger-font {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px; 
}

/* Remove default margin for navbar-brand */
.navbar-brand {
    margin-right: 0;
}


.welcome-message {
    background-color: #32094f; 
    color: white;
    padding: 20px 0;
    margin-top: 50px;
    margin-bottom: 30px;
}


.welcome-message * {
    color: white !important;
}

.feature-box {
    background-color: #32094f; 
    color: white; 
    text-align: center; 
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    flex-direction: column;
}

.feature-box h4 {
    margin: 0; 
    font-size: 24px; 
    font-weight: normal; 
    letter-spacing: 1px; 
}


.feature-box i.fas.fa-star,
.feature-box i.fas.fa-clipboard-list {
    color: white;  
    font-size: 54px; 
    padding-bottom: 10px;
}

.feature-box i.fas.fa-star-and-crescent {
    color: white; 
    font-size: 54px; 
    padding-bottom: 10px;
}

.feature-box {
    cursor: pointer; 
}
